global:
  timezone: Europe/Zurich
  timezonePath: /etc/localtime
  springDebug: false
  namespace: spring-6-gateway

replicaCount: 1

image:
  # Those values are set by Maven filtering
  # and will be replaced with a valid version number during the build process.
  registry: @docker.repo@
  pullPolicy: IfNotPresent

service:
  type: NodePort
  port: 8080
  targetPort: 8080
  nodePort: 30080

externalAccess:
  host: "localhost"
  protocol: "http"

resources:
  limits:
    cpu: 500m
    memory: 1Gi
  requests:
    cpu: 250m
    memory: 512Mi

probes:
  startup:
    failureThreshold: 30
    periodSeconds: 10
  readiness:
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 6
  liveness:
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 6

mysql:
  port: 3306
  targetPort: 3306
  nodePort: 30306

  serviceFQDN:

kafka:
  port: 9092
  serviceFQDN:

mongodb:
  port: 27017
  targetPort: 27017
  nodePort: 30017

  serviceFQDN:

authServer:
  port: 9000
  targetPort: 9000
  nodePort: 30900

  serviceFQDN:

restMvc:
  port: 8081
  targetPort: 8081
  nodePort: 30081

  serviceFQDN:

reactive:
  port: 8082
  targetPort: 8082
  nodePort: 30082

  serviceFQDN:

dataRest:
  port: 8084
  targetPort: 8084
  nodePort: 30084

  serviceFQDN:

reactiveMongo:
  port: 8083
  targetPort: 8083
  nodePort: 30083

  serviceFQDN:

ingress:
  enabled: false

# Section for overriding values in subcharts defined in the Chart.yaml

spring-6-auth-server:
  spring:
    issuer:
      uri: "http://spring-6-gateway-spring-6-auth-server.spring-6-gateway.svc.cluster.local:9000"

spring-6-rest-mvc:
  authServer:
    enabled: false
    serviceFQDN: "spring-6-gateway-spring-6-auth-server.spring-6-gateway.svc.cluster.local"
  mysql:
    enabled: false
    serviceFQDN: "spring-6-gateway-spring-6-rest-mvc-mysql.spring-6-gateway.svc.cluster.local"
  kafka:
    enabled: false
    serviceFQDN: "spring-6-gateway-spring-6-rest-mvc-kafka.spring-6-gateway.svc.cluster.local"

spring-6-reactive-mongo:
  authServer:
    enabled: false
    serviceFQDN: "spring-6-gateway-spring-6-auth-server.spring-6-gateway.svc.cluster.local"
  mongodb:
    enabled: false
    serviceFQDN: "spring-6-gateway-spring-6-reactive-mongo-mongodb.spring-6-gateway.svc.cluster.local"

spring-6-reactive:
  authServer:
    enabled: false
    serviceFQDN: "spring-6-gateway-spring-6-auth-server.spring-6-gateway.svc.cluster.local"