spring:
  application:
    name: spring-6-gateway
    
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:9000
  
  cloud:
    gateway:
      server:
        webflux:
          httpserver:
            wiretap: true
          httpclient:
            wiretap: true
          routes:
            - id: spring-6-rest-mvc
              uri: http://localhost:8081
              enabled: true
              predicates:
                - Path=/api/v1/**
            - id: spring-6-reactive
              uri: http://localhost:8082
              enabled: true
              predicates:
                - Path=/api/v2/*
            - id: spring-6-reactive-mongo
              uri: http://localhost:8083
              enabled: true
              predicates:
                - Path=/api/v3/*
            - id: spring-6-data-rest
              uri: http://localhost:8084
              enabled: true
              predicates:
                - Path=/api/v4/*
            - id: spring-6-auth-server
              uri: http://localhost:9000
              enabled: true
              predicates:
                - Path=/oauth2/**, /.well-known/**, /userinfo, /{subpath}/.well-known/openid-configuration

logging:
  level:
    org.springframework.cloud.gateway: INFO
    org.springframework.http.server.reactive: INFO
    org.springframework.web.reactive: INFO
    reactor.ipc.netty: INFO
    reactor.netty: INFO

management:
  health:
    readinessstate:
      enabled: true
    livenessstate:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    configprops:
      # WARNING: SECURITY RISK - DO NOT USE IN PRODUCTION ENVIRONMENT
      # This configuration exposes sensitive data and should only be used for development or testing purposes.
      # Ensure this is disabled in any environment where security is a concern.
      show-values: ALWAYS
    health:
      probes:
        enabled: true
      show-details: always
  info:
    build:
      enabled: true
    env:
      enabled: true
    java:
      enabled: true
    os:
      enabled: true
    git:
      enabled: true
      mode: full
  httpexchanges:
    recording:
      enabled: true
      include: request_headers, response_headers, session_id, time_taken
  observations:
    http:
      server:
        requests:
          name: http.server.requests
      client:
        requests:
          name: http-client-requests
  otlp:
    metrics:
      export:
        enabled: false
  tracing:
    export:
      otlp:
        enabled: false
    sampling:
      probability: 1.0
  logging:
    export:
      enabled: false
      otlp:
        enabled: false
  simple:
    metrics:
      export:
        enabled: false

springdoc:
  show-actuator: true
  show-oauth2-endpoints: true
  show-spring-cloud-functions: true
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    oauth:
      # do that not on production!
      client-id: messaging-client
      client-secret: secret
    urls:
      - name: gateway-service
        url: /v3/api-docs
        displayName: Spring 6 Gateway Rest-Api

security: # TODO: DO NOT USE HOST.DOCKER.INTERNAL. TAKE LOCALHOST
  auth-server-health-url: http://host.docker.internal:9000
  mvc-health-url: http://host.docker.internal:8081
  reactive-health-url: http://host.docker.internal:8082
  reactiveMongo-health-url: http://host.docker.internal:8083
  dataRest-health-url: http://host.docker.internal:8084

  authorization-url-for-openapi: http://host.docker.internal:8080/oauth2/auth
  token-url-for-openapi: http://host.docker.internal:8080/oauth2/token
  refresh-url-for-openapi: http://host.docker.internal:8080/oauth2/refresh-token

  cors:
    allowed-origins:
      - http://localhost:8080 # gateway project runs on port 8080
      - http://127.0.0.1:8080 # gateway project runs on port 8080
      - http://localhost:30080 # gateway project runs on port 30080
      - http://127.0.0.1:30080 # gateway project runs on port 30080


